<!-- Start What We Do 
    ============================================= -->
    <div class="we-do-area half-bg default-padding bottom-less bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h5>What we do</h5>
                        <h2>
                           Aashri Home Project
                        </h2>
                        <div class="heading-divider"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="wedo-items text-center">
                <div class="row">
                    <!-- Single Item -->
                    <div class="single-item col-lg-3 col-md-6">
                        <div class="item h-100">
                            <i class="flaticon-water-bottle"></i>
                            <h4>Food For Kids</h4>
                            <p>
                                Aashri Society lays great emphasis on providing a very healthy diet to the children.
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-3 col-md-6">
                        <div class="item h-100">
                            <i class="flaticon-pharmacy"></i>
                            <h4>Clothing</h4>
                            <p>
                                We provide all necessary clothing for children.
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-3 col-md-6">
                        <div class="item h-100">
                            <i class="flaticon-planet-earth"></i>
                            <h4>Shelter for orphans</h4>
                            <p>
                                Our children of 35 members are provided with 3 stair building.
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-3 col-md-6">
                        <div class="item h-100">
                            <i class="flaticon-home"></i>
                            <h4>Education</h4>
                            <p>
                                All our children pursue formal education.
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End What We Do -->