<!-- Start Donation 
    ============================================= -->
    <div class="donation-area text-light bg-gray default-padding">
        <!-- Fixed BG-->
        <div class="fixed-bg" style="background-image: url(assets/img/2440x1578.jpeg);"></div>
        <!-- End Fixed BG-->
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-6 info">
                    <h5>Donate Today</h5>
                    <h2 class="area-title">MAKE A DIFFERENCE SHARE A PLATE OF HAPPINESS</h2>
                    <p>
                        DONATIONS TO AASHRI SOCIETY QUALIFY FOR DEDUCTION ౮/5 80505) OF THE INCOME TAX ACT,
                        1967 VIDE ORDER FOR PROVISIONAL APPROVAL IN FORM 10AC
                        GIVEN BY CIT(E) VIDE UNIQUE REGISTRATION NUMBER AADAAGO7 1HF20211 DATED 27/10/2021
                    </p>
                    <div class="question">
                        <div class="icon">
                            <i class="fas fa-phone"></i>
                        </div>
                        <div class="info">
                            <h5>Have any question about donation? </h5>
                            <span>Call Now: +91 9293 414444</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="col-lg-12 col-md-12 we-do-area">
                        <div class="text-dark item">
                            <h5 class="text-dark">AC NAME : AASHRI SOCIETY</h5>
                            <h5 class="text-dark">AC NO : 34027311764</h5>
                            <h5 class="text-dark">IFSC Code : SBINOO11668</h5>
                            <h5 class="text-dark">Miyapur SBI Branch</h5>
                            <!-- <p>
                                Aashri Society lays great emphasis on providing a very healthy diet to the children.
                            </p> -->
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-6 donation-form">
                    <div class="form-box">
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="Amount">Amount</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="Amount" placeholder="0.00" required>
                                            <span class="input-group-addon"><i class="fas fa-rupee-sign"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="donateType">Frequency</label>
                                        <select id="donateType" class="form-control">
                                            <option value="once">Once</option>
                                            <option value="weekly">Weekly</option>
                                            <option value="Fortnightly">Fortnightly</option>
                                            <option value="Monthly">Monthly</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="cardNumber">Card Number</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="cardNumber" placeholder="Valid Card Number" required>
                                            <span class="input-group-addon"><i class="fas fa-credit-card"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-7 col-xs-8">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label for="expMonth">Expiration Date</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <input type="text" class="form-control" id="expMonth" placeholder="MM" required data-stripe="exp_month" />
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <input type="text" class="form-control" name="expYear" placeholder="YY" required data-stripe="exp_year" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-4 pull-right">
                                    <div class="form-group">
                                        <label for="cvCode">CV Code</label>
                                        <input type="password" class="form-control" id="cvCode" placeholder="CV" required data-stripe="cvc" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn btn-theme effect btn-md" type="submit">Donate Now</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div> -->
            </div>
        </div>
    </div>
    <!-- End Donation Area -->