<!-- Star About Area
    ============================================= -->
    <div class="about-area default-padding">
        <div class="container">
            <div class="row align-center">

                <div class="col-lg-6">
                    <img src="assets/img/home-about.JPG" alt="image"/>
                </div>

                <div class="col-lg-6 info">
                    <h5>About Us</h5>
                    <h2 class="text-blur">About</h2>
                    <h2 class="area-title">AASHRI SOCIETY is a not-for-profit organization</h2>
                    <p>
                        AASHRI SOCIETY is a not-for-profit organization operational since 2009 and was registered under
                        the AP Registrations Act as a Society (NGO). Aashri Society is based in Hyderabad, Telangana. In
                        Sept 2014, AASHRI established a Children's Home near IDA Bollaram, Hyderabad with 45 children
                        both 19 boys and 16 girls. Recently, we moved to new premises at Mayuri Nagar, Miyapur with 35
                        boy kids.
                    </p>
                    <p>
                        We currently support 360 children - 191 boys and 169 girls in the age group 6-19 in 6 Mandals of
                        khammam district. Out of these, we have 35 children in our orphanage located at Miyapur and
                        the rest of the children are in various schools in parts of Telangana. In addition, we sponsor school
                        fees of 244 more children who live in the vicinity and whose parents cannot afford education for
                        their children. We make the fee payment directly to schools through sponsors that these children
                        attend.
                    </p>
                    <p>
                        We currently employ 6 people to take care of cooking, tuition and security of our premises.
                    </p>
                    <!-- <ul>
                        <li>
                            <h5>168K</h5>
                            <span>Plants Protected</span>
                        </li>
                        <li>
                            <h5>5M Ton </h5>
                            <span>Water Conserved</span>
                        </li>
                        <li>
                            <h5>37K Sqmi.</h5>
                            <span>Ocean Proteced</span>
                        </li>
                    </ul> -->
                    <!-- <a class="btn circle btn-theme border btn-md" href="#">become a volunteer</a> -->
                </div>
                
            </div>
        </div>
    </div>
    <!-- End About Area -->