<!-- Start Testimonials 
    ============================================= -->
    <div class="testimonials-area carousel-shadow bg-gray default-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h5>Testimonials</h5>
                        <h2>
                           What people say <br> About Poora
                        </h2>
                        <div class="heading-divider"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="testimonial-items testimonial-carousel owl-carousel owl-theme">
                        <!-- Single Item  -->
                        <div class="item">
                            <div class="info">
                                <div class="top-info">
                                    <i class="flaticon-left-quote-1"></i>
                                    <div class="provider">
                                        <h4>Jeckey Pura</h4>
                                        <span>Volunteer</span>
                                    </div>
                                </div>
                                <p>
                                    Numerous indulged distance old law you. Total state as merit court green decay he. Steepest sex bachelor the may delicate its yourself. As he instantly on discovery concluded to. Open draw far pure miss felt say yet few sigh. 
                                </p>
                            </div>
                        </div>
                        <!-- End Single Item  -->
                        <!-- Single Item  -->
                        <div class="item">
                            <div class="info">
                                <div class="top-info">
                                    <i class="flaticon-left-quote-1"></i>
                                    <div class="provider">
                                        <h4>Benil Sraw</h4>
                                        <span>Volunteer</span>
                                    </div>
                                </div>
                                <p>
                                    Numerous indulged distance old law you. Total state as merit court green decay he. Steepest sex bachelor the may delicate its yourself. As he instantly on discovery concluded to. Open draw far pure miss felt say yet few sigh. 
                                </p>
                            </div>
                        </div>
                        <!-- End Single Item  -->
                        <!-- Single Item  -->
                        <div class="item">
                            <div class="info">
                                <div class="top-info">
                                    <i class="flaticon-left-quote-1"></i>
                                    <div class="provider">
                                        <h4>Adam Blaur</h4>
                                        <span>Volunteer</span>
                                    </div>
                                </div>
                                <p>
                                    Numerous indulged distance old law you. Total state as merit court green decay he. Steepest sex bachelor the may delicate its yourself. As he instantly on discovery concluded to. Open draw far pure miss felt say yet few sigh. 
                                </p>
                            </div>
                        </div>
                        <!-- End Single Item  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials Area -->