<!-- Start Our Mission 
    ============================================= -->
    <div class="mission-area half-bg default-padding-bottom bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 thumb-box">
                    <div class="thumb">
                        <div class="thumb-1">
                            <img src="assets/img/800x800.JPG" alt="Thumb">
                        </div>
                        <div class="thumb-2">
                            <img src="assets/img/800x800.JPG" alt="Thumb">
                            <a href="https://www.youtube.com/watch?v=B8jxHWdltS4" class="popup-youtube light video-play-button item-center">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 info">
                    <h5>Our Mission</h5>
                    <h2 class="text-blur">Mission</h2>
                    <h2 class="area-title">We believe that we can provide shelter to more children with you.</h2>
                    <p>
                        DONATIONS TO AASHRI SOCIETY QUALIFY FOR DEDUCTION ౮/5 80505) OF THE INCOME TAX ACT, 1967 VIDE ORDER FOR PROVISIONAL APPROVAL IN FORM 10AC GIVEN BY CIT(E) VIDE UNIQUE REGISTRATION NUMBER AADAAGO7 1HF20211 DATED 27/10/2021
                    </p>
                    <!-- <h4>Our strategic priorities up to 2020 are:</h4>
                    <ul>
                        <li>Protecting charities from abuse or mismanagement</li>
                        <li>Enabling trustees to run their charities effectively </li>
                        <li>Encouraging greater transparency and accountability</li>
                    </ul> -->
                    <!-- <a class="btn circle btn-theme border btn-md" href="#">Join With Us</a> -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Our Mission -->