<app-home-about></app-home-about>
<!-- <app-what-we-do></app-what-we-do> -->
<!-- <app-mission></app-mission> -->

<!-- Start Our Journey 
    ============================================= -->
    <div class="mission-area half-bg default-padding-bottom bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 thumb-box">
                    <div class="thumb">
                        <div class="thumb-1">
                            <img src="assets/img/800x800.JPG" alt="Thumb">
                        </div>
                        <div class="thumb-2">
                            <img src="assets/img/800x800.JPG" alt="Thumb">
                            <a href="https://www.youtube.com/watch?v=owhuBrGIOsE" class="popup-youtube light video-play-button item-center">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 info">
                    <h5>The Journey</h5>
                    <h2 class="text-blur">Journey</h2>
                    <h2 class="area-title">Since 2011</h2>
                    <p>
                        Aashri Society started its journey during, my college days in the year 2011 | started with
                        street children of 19 boys and 45 girls providing basic education and nutritional food at
                        papireddy colony chandanagar as education is one of the most effective tools that can
                        eradicate poverty and strengthen our nation as they lack opportunities while as aashri
                        society was registered in the year 2014 July 19.
                    </p>
                    <!-- <h4>Our strategic priorities up to 2020 are:</h4>
                    <ul>
                        <li>Protecting charities from abuse or mismanagement</li>
                        <li>Enabling trustees to run their charities effectively </li>
                        <li>Encouraging greater transparency and accountability</li>
                    </ul> -->
                    <!-- <a class="btn circle btn-theme border btn-md" href="#">Join With Us</a> -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Our Journey -->

    <!-- Start Our Challenge 
    ============================================= -->
    <div class="mission-area half-bg default-padding-bottom bg-gray">
        <div class="container">
            <div class="row">
                <!-- <div class="col-lg-6 thumb-box">
                    <div class="thumb">
                        <div class="thumb-1">
                            <img src="assets/img/800x800.JPG" alt="Thumb">
                        </div>
                        <div class="thumb-2">
                            <img src="assets/img/800x800.JPG" alt="Thumb">
                            <a href="https://www.youtube.com/watch?v=owhuBrGIOsE" class="popup-youtube light video-play-button item-center">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div> -->
                <div class="col-lg-12 info">
                    <h5>The Challenge</h5>
                    <h2 class="text-blur">Challenge</h2>
                    <!-- <h2 class="area-title">Since 2011</h2> -->
                    <p>
                        We rented a very modest house in IDA Bollaram to start our Children’s Home. At the end of the
                        first yedr, we had about 45 children and with a very little support. There are a lot of kids who
                        lost parents and are in need of food, education, clothes, health care and accommodation.
                        Without any external support, these children do not see any future for themselves and end
                        up as beggars, rag pickers and even victims of child trafficking. We wish to provide them a
                        safe and secure childhood filled with love and care. This will help the children to transform
                        themselves into able citizens of the nation. The initial days were those of lack of resources,
                        insecurity and instability. Most people did not trust our intentions or our abilities. We had little
                        money to fund our vision and dreams.
                    </p>
                    <p>
                        At the same time, we could not abdicate our responsibilities and run away from challenges.
                        We took solace from the fact that most organizations have a humble beginning and our
                        case will be no different, we would get there someday. We started sending our children to
                        an English Medium Private School in the vicinity.
                    </p>
                    <p>
                        In 2015, we started getting support from local businessmen, employees of various companies
                        and students. There was steady flow of volunteers from colleges and financial support from
                        few of the corporates in Hyderabad, Through this support, we are providing them nutritious
                        food, planning to start library and computer lab and ample recreation facilities Soon, Aashri
                        Society started getting visibility in the social sector. We were featured in and interviewed by
                        all Telugu,English and daily newspapers and majority news channels.
                    </p>
                    <p>
                        In academics, some of our children have stood among the toppers in their schools. We have
                        children who passed out of High School one even finished her medicine some finished their
                        masters while as few kids who completed their Diploma in ITI went to abroad through Aashri
                        society and few are still pursuing their higher education.
                    </p>
                    <p>
                        It is the sincerity and dedication of our staff members along with the generosity of our friends
                        and well-wishers that provides our children an opportunity to carve their own destinies. Our
                        children cherish their lives at AASHRI and look forward to a great future. Your support and
                        patronage will encourage our children to dream big and succeed.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Our Challenge -->

    <!-- Start Our Impact 
    ============================================= -->
    <div class="mission-area half-bg default-padding-bottom bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 thumb-box">
                    <div class="thumb">
                        <div class="thumb-1">
                            <img src="assets/img/800x800.JPG" alt="Thumb">
                        </div>
                        <div class="thumb-2">
                            <img src="assets/img/800x800.JPG" alt="Thumb">
                            <a href="https://www.youtube.com/watch?v=owhuBrGIOsE" class="popup-youtube light video-play-button item-center">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 info">
                    <h5>The Impact</h5>
                    <h2 class="text-blur">Impact</h2>
                    <!-- <h2 class="area-title">Since 2011</h2> -->
                    <p>
                        Most children before coming to AASHRI were in government schools or no Schooling. The schools
                        in remote area are pathetic. Students are promoted to higher classes purely based on their
                        attendance and not necessarily on the basis of their performance in examinations.To Boost their
                        Confidence Some of our kids used to work on fields during the harvest season and some to rear
                        cattle, skipped classes for the better part of the academic year. Our immediate challenge is
                        to make the kids oriented towards studies and make them understand the importance of the
                        education in building their careers and lives.
                    </p>
                    <p>
                        Ever since we started taking comprehensive care of these children, we have been pursuing one
                        single goal — make them good citizens of the nation. Accordingly, all the basic needs are being
                        met on par with other children who have a proper family backing. We provide them good food,
                        clothing and recreation facilities.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Our Challenge -->