<!-- Start Causes 
    ============================================= -->
    <div class="causes-area bg-gray default-padding bottom-less">
        <div class="container">
            <div class="heading-left">
                <div class="row">
                    <div class="col-lg-6 left-info">
                        <h5>Recent Causes</h5>
                        <h2>
                            Donate to charity causes around the world.
                        </h2>
                    </div>
                    <div class="col-lg-6 right-info">
                        <p>
                            Everything melancholy uncommonly but solicitude inhabiting projection off. Connection stimulated estimating excellence an to impression. 
                        </p>
                        <a class="btn circle btn-md btn-gradient wow fadeInUp" href="#">View All <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="causes-items">
                <div class="row">
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <a href="#">
                                    <img src="assets/img/800x600.png" alt="Thumb">
                                    <span class="overlay">
                                        <strong>Created : </strong> Nov 7, 2020
                                    </span>
                                </a>
                            </div>
                            <div class="info">
                                <h4>
                                    <a href="#">Give Education To Africa</a>
                                </h4>
                                <p>
                                    Especially do at he possession insensible manner sympathize boisterous it. 
                                </p>
                                <div class="progress-box">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" data-width="50">
                                            <span>50%</span>
                                        </div>
                                    </div>
                                    <p>Raised : $4200 <span>Goal : $8400</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <a href="#">
                                    <img src="assets/img/800x600.png" alt="Thumb">
                                    <div class="trend">
                                        <i class="fas fa-bolt"></i> Trend
                                    </div>
                                    <span class="overlay">
                                        <strong>Created : </strong> Jul 15, 2020
                                    </span>
                                </a>
                            </div>
                            <div class="info">
                                <h4>
                                    <a href="#">Water For All Children</a>
                                </h4>
                                <p>
                                    Especially do at he possession insensible manner sympathize boisterous it. 
                                </p>
                                <div class="progress-box">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" data-width="69">
                                            <span>69%</span>
                                        </div>
                                    </div>
                                    <p>Raised : $6230 <span>Goal : $8400</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <a href="#">
                                    <img src="assets/img/800x600.png" alt="Thumb">
                                    <span class="overlay">
                                        <strong>Created : </strong> Dec 26, 2020
                                    </span>
                                </a>
                            </div>
                            <div class="info">
                                <h4>
                                    <a href="#">Food for Syrian</a>
                                </h4>
                                <p>
                                    Especially do at he possession insensible manner sympathize boisterous it. 
                                </p>
                                <div class="progress-box">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" data-width="45">
                                            <span>45%</span>
                                        </div>
                                    </div>
                                    <p>Raised : $4230 <span>Goal : $8400</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Causes -->