<!-- Start Event Area 
    ============================================= -->
    <div class="event-area carousel-shadow default-padding bg-gray">
        <!-- Fixed Shape -->
        <div class="shape-bottom-left">
            <img src="assets/img/shape/8.png" alt="Shape">
        </div>
        <!-- Fixed Shape -->
        <div class="container">
            <div class="heading-left">
                <div class="row">
                    <div class="col-lg-6 left-info">
                        <h5>Upcoming Events</h5>
                        <h2>
                            Join to our upcoming event and get involved
                        </h2>
                    </div>
                    <div class="col-lg-6 right-info">
                        <p>
                            Everything melancholy uncommonly but solicitude inhabiting projection off. Connection stimulated estimating excellence an to impression. 
                        </p>
                        <a class="btn circle btn-md btn-gradient wow fadeInUp" href="#">View All <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="event-items event-carousel owl-carousel owl-theme">
                <!-- Single Item  -->
                <div class="item">
                    <div class="thumb">
                        <img src="assets/img/2440x1578.jpeg" alt="Thumb">
                        <div class="date">
                            12 <strong>Aug</strong>
                        </div>
                    </div>
                    <div class="info">
                        <div class="time"><i class="fas fa-clock"></i> 8:00 am - 16:00 pm</div>
                        <h4>
                            <a href="#">Healty Food For Poor People</a>
                        </h4>
                        <p>
                            Called though excuse length ye needed it he having. Whatever throwing we on resolved entrance together graceful. Mrs assured add private married removed believe did she no he several excited am. peculiar families sensible. 
                        </p>
                        <a class="btn circle btn-theme border btn-md" href="#">Know More</a>
                    </div>
                </div>
                <!-- End Single Item  -->
                <!-- Single Item  -->
                <div class="item">
                    <div class="thumb">
                        <img src="assets/img/2440x1578.jpeg" alt="Thumb">
                        <div class="date">
                            25 <strong>Dec</strong>
                        </div>
                    </div>
                    <div class="info">
                        <div class="time"><i class="fas fa-clock"></i> 10:00 am - 17:30 pm</div>
                        <h4>
                            <a href="#">Medical Facilities for People</a>
                        </h4>
                        <p>
                            Called though excuse length ye needed it he having. Whatever throwing we on resolved entrance together graceful. Mrs assured add private married removed believe did she no he several excited am. peculiar families sensible. 
                        </p>
                        <a class="btn circle btn-theme border btn-md" href="#">Know More</a>
                    </div>
                </div>
                <!-- End Single Item  -->
                <!-- Single Item  -->
                <div class="item">
                    <div class="thumb">
                        <img src="assets/img/2440x1578.jpeg" alt="Thumb">
                        <div class="date">
                            18 <strong>Jul</strong>
                        </div>
                    </div>
                    <div class="info">
                        <div class="time"><i class="fas fa-clock"></i> 8:30 am - 16:45 pm</div>
                        <h4>
                            <a href="#">Lifeskills for Children in South Africa</a>
                        </h4>
                        <p>
                            Called though excuse length ye needed it he having. Whatever throwing we on resolved entrance together graceful. Mrs assured add private married removed believe did she no he several excited am. peculiar families sensible. 
                        </p>
                        <a class="btn circle btn-theme border btn-md" href="#">Know More</a>
                    </div>
                </div>
                <!-- End Single Item  -->
            </div>
        </div>
    </div>
    <!-- End Event Area -->